logo {
    width: 30px;
    height: 10px;
}

.radios {
    position: absolute;
    right: 120px;
    width: 150px;
    top: 17px;
    color: white;
}

.logo-bttn {
    padding: 10px;
}

video {
    margin: 0 auto;
    /*display: block;*/
    width: 100%;
}

.video-ctnr {
    background: #000;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    overflow: hidden;
}

.video-ctnr:hover .controls {
    transform: translateY(-5px);
}

.nav-bar {
    padding-left: 0px;
    padding-right: 0px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 0, 0);
    /*border-bottom: 5px solid red;*/
    padding-left: 0;
    padding-right: 0;
    transform: translateY(100%) translateY(-4px);
    transition: all .2s;
}

.time-bar {
    /*position: absolute;*/
    top: 0;
    padding-left: 0;
    padding-right: 0;
    height: 4px;
    background: #343a40;
    position: absolute;
    transition: all .2s;
}

.generate {
    height: 50px;
}

.dynamic-bar {
    height: 4px;
    background: orangered;
    width: 100%;
}

.markers {
    position: relative;
    background: #343a40;
    padding: 0;
    height: 50px;
    border-bottom: solid 1px black;
}

.marker {
    width: 20px;
    position: relative;
    left: -22px;
}

.arrow-up {
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    position: relative;
    top: 4px;
    left: 12px;
}

.time-bar:hover, .dynamic-bar:hover {
    height: 8px;
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
    content: '\f144';
}

.buttons button.pause:before {
    content: '\f28b';
}